:root {
    --editor-font-family: serif;
    --editor-font-color: grey;
  }


div#searchPage {
    padding: 2rem;
}

div#searchContainer {
    padding: 2rem;
}

div#searchContainer>div {
    padding: 1rem;
    margin: 1rem;
    border: solid lightgrey 3px;
    border-radius: 15px;
}

div#searchContainer div.col-3>div {
    padding-bottom: 2rem;
}

div#current-refinements {
    padding-bottom: 1.5rem;
}

tr td {
    vertical-align: top;
}

tr,
td {
    border: none;
}


div ul.ais-RefinementList-list {
    padding: 0.5rem;
}

.facet-list-scroll {
    overflow: hidden;
    overflow-y: scroll;
    min-height: fit-content;
    max-height: 11rem;
    border: solid rgb(204, 204, 204) .1rem;
    border-radius: 0.3rem;
}

#edition-text {
    padding-bottom: 75vh;
}

#sticky-OSD-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
}


div.icon_desc {
    padding: 1rem;
    background-color: rgb(180, 180, 180);
    color: white;
    border-radius: 3px;
    margin: .5rem 0 .5rem .5rem;
    font-size: small;
}

span.pb.nearly_no_content {
    display: block;
    height: 16rem;
}

.modal-body img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a.variant_anchor_link{
    background-color:lightgrey;
    border-radius: 6px;
    padding: 0.1rem 0.2rem;
}

a.variant_anchor_link:target{
    background-color: grey!important;
    scroll-padding-top: 2rem;
}

a.variant_anchor_link{
    color: inherit;
    text-decoration: inherit;
}

p.app:target * {
    background-color: lightgrey!important;
    scroll-padding-top: 2rem;
}

p.app a {
    text-decoration: inherit;
    color: inherit;
}

span.image_preview img {
    height: 7rem;
    width: auto;
}

#edition-text *{
    max-width: 30rem;
}

span.catch {
    width: 100%;
    display: block;
    color: grey;
    text-align: right;
}

span.layer_counter {
    width: 100%;
    display: block;
    color: grey;
    text-align: center;
}

span.page_number {
    width: 100%;
    display: block;
    color: darkgrey;
    text-align: left;
    padding-left: 1rem;
}

* + hr.section_divider {
    padding-bottom: 1.5rem;
}

hr.section_divider{
    width: 10rem;
    margin: auto;
    padding-bottom: 1.5rem;
    border-top: solid .3rem;
}

hr.section_divider + hr.section_divider {
    width: 10rem;
    margin: auto;
    border-top: solid .3rem;
}

span.lemma::before {
    content: "↑ ";
}

*.text_align_center {
    text-align: center!important;
}

*.antiqua {
    font-style: italic!important;
}

*.majuscule {
    font-size: 150%!important;
}

*.italic {
    font-style: bold!important;
}

*.spaced {
    text-decoration: underline!important;
}

*.indent {
    text-indent: 1rem!important;
}

*.hanging_indent {
    text-indent: -1rem!important;
}

*.superscript {
    vertical-align: top!important;
    font-size: 70%;
}

*.display_inline {
    display: inline!important;
}

*.editor_comment {
    font-family: var(--editor-font-family)!important;
    color: var(--editor-font-color)!important;
}

*.app-page_number::before {
    content: " (Seitenzählung:) ";
    font-family: var(--editor-font-family)!important;
    color: var(--editor-font-color)!important;
}
*.app-layer_counter::before {
    content: " (Lagenzählung:) ";
    font-family: var(--editor-font-family)!important;
    color: var(--editor-font-color)!important;
}
*.app-catch::before {
    content: " (Kustode:) ";
    font-family: var(--editor-font-family)!important;
    color: var(--editor-font-color)!important;
}
div.variants {
    width: 100%;
    column-count: 3;
    background-color: aliceblue;
    padding: 1rem;
    border-top: 0.3rem solid black;
    border-radius: 0.1rem;
}

div.variants p.app {
    width: 100%;
    padding-right: 2rem;
}
html {
    scroll-padding-top: 2rem;
}

span.corr {
    display: none;
}