name: build page and push to gitlab

on: [workflow_dispatch]

jobs:
  build_html:
    name: Publish Edition as GitHub Pages Website
    runs-on: ubuntu-latest
    env:
      ANT_OPTS: -Xmx5g
      GITLAB_SOURCE_TOKEN: ${{ secrets.GITLAB_DATA_DOWNLOAD_TOKEN }}
      GITLAB_TARGET_TOKEN: ${{ secrets.GITLAB_TARGET_TOKEN }}
      GITLAB_TARGET_TOKEN_NAME: ${{ secrets.GITLAB_TARGET_TOKEN_NAME }}
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHB_ACCESS_TOKEN }}
      GITHUB_ACCESS_TOKEN_NAME: ${{ secrets.GITHB_ACCESS_TOKEN_NAME }}
      GH_USERNAME: ${{ secrets.GH_USERNAME }}
      GH_USERMAIL: ${{ secrets.GH_USERMAIL }}
      TYPESENSE_API_KEY: ${{ secrets.TYPESENSE_API_KEY }}
      TYPESENSE_SRCH_KEY: ${{ secrets.TYPESENSE_SRCH_KEY }}
      TYPESENSE_COL_NAME: ${{ secrets.TYPESENSE_COL_NAME }}
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v4
    - name: Install Saxon, Ant and Python
      run: |
        apt-get update && apt-get install openjdk-11-jre-headless ant -y --no-install-recommend
        ./shellscripts/dl_saxon.sh
        python -m pip config set global.break-system-packages true
        pip install -r requirements.txt
    - name: clone data output repo
      run: |
        rm -rf data_repo  data
        git config --global user.email "${GH_USERMAIL}"
        git config --global user.name "${GH_USERNAME}"
        git config --global credential.helper cache
        mkdir data
        git clone https://${GITHUB_ACCESS_TOKEN_NAME}:${GITHUB_ACCESS_TOKEN}@github.com/Armesuenderblaetter/armesuenderblaetter_data_ouput.git data_repo
        cp -r data_repo/xml/editions/ data
        cp -r data_repo/xml/indices/ data
        cp -r data_repo/json .
        cp -r data_repo/meta/ data
        ./shellscripts/dl_imprint.sh
    - name: Filter editions for Vienna executions
      run: |
        python pyscripts/filter_editions.py --editions-dir data/editions --events-file data/indices/events.xml
    - name: setup typesense
      run: |
        # ./pyscripts/reverse_name.py ./json/persons.json
        ./pyscripts/setup_typesense.py
        ./pyscripts/setup_person_typesense.py
    - name: denormalize
      run: |
        ./shellscripts/denormalize_indices.sh
    - name: Build
      run: |
        ant
    - name: clone target repo
      run: |
        mkdir target
        git clone "https://${GITLAB_TARGET_TOKEN_NAME}:${GITLAB_TARGET_TOKEN}@gitlab.oeaw.ac.at/acdh-ch/todesurteile/flugblaetter-static-page.git" target
    - name: copy json to html-dir
      run: |
        if [ -d ./html/json ]
          then rm -rf ./html/json
        fi
        mkdir -p ./html/json
        cp json/punishments.json ./html/json/
        cp json/offences.json ./html/json/
    - name: clean target html top-level files
      run: |
        if [ -d target/html ]; then
          find target/html -maxdepth 1 -type f -delete
        fi
    - name: sync html and edition xmls into target repo
      run: |
        mkdir -p target/html
        cp -a html/. target/html/
        mkdir -p target/data/editions
        cp -a data/editions/. target/data/editions/
    - name: push to target repo if necessary
      run: |
        cd target
        if [[ -n "$(git status --porcelain)" ]]; then
          echo "changes detected"
          git add html data/editions
          git commit -m "$(date) new html and edition xml data"
          git push
        else
          echo "nothing to push"
        fi
